%h3 Place a New Order

= form_tag line_items_path, :method => 'post', :class => "form-inline" do
  %br
  =label_tag "Product ID: "
  =text_field_tag  :product_id
  =label_tag "Quantity: "
  =text_field_tag  :qnt
  %br

  %div{:class => 'form-actions'}
    = button_to 'Add item', line_items_path(), :remote => true, :class => 'btn'

- if @cart.line_items.empty?
  %div{:id => "cart",:style => "display: none"}
- else
  %div{:id => "cart"}  
  = render @cart