%h4 Finalize Transaction

= form_tag orders_path, :method => 'post', :class => "form-inline" do
  =label_tag "Customer ID: "
  =text_field_tag :customer_id

  %div{:class => 'form-actions'}
    =submit_tag "Confirm",  :class => 'btn'


