%h3 Update Product

= simple_form_for(@product, :html => {:class => 'form-horizontal'}) do |f|
	=f.input :description, label: 'Product Description'
	=f.input :product_type, label: 'Product Type'
	=f.input :remaining_quantity, label: 'Quantity'
	=f.input :rate, label: 'Price (Rs.)'
	%div{:class => 'form-actions'}
		=f.button :submit, :class => 'btn-primary'
		=link_to "Cancel", products_path, :class => 'btn'
 